%html
  %body

    %div.wrapper

      =render partial: 'shared/side_bar';

      %div.contents
        %div.contents__header
          %div.contents__header__left-box
            %h2.contents__header__left-box__current-group
              = @group.name
            %ul.contents__header__left-box__member-list
              Member：
              - @group.users.each do |user|
                = user.name
          %div.contents__header__edit-btn
            = link_to edit_group_path(current_user) do
              %p.contents__header__edit-btn__letter Edit

        %div.contents__chat
          = render @messages

        %div.contents__form
          = form_for [@group, @message] do |f|
            = f.text_field :body, class: 'contents__form__message', placeholder: 'type a message'
            %div.contents__form__mask
              = f.label :image, class: 'contents__form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'contents__form__submit'
